{% extends 'users/base.html' %}
{% block content %}
<div class="container">
    <a href="{% url 'logout' %}" class="btn btn-warning mt-5 ">Logout</a>
    <a href="{% url 'mycart' %}" class="btn btn-warning mt-5 ">MyCart</a>
<div class="row">
     <div class=" col-md-12 col-lg-8 ">
         <h1 style="text-align:center;padding-top:100px" >Product List</h1>
         <table class="table">
  <thead class="thead-dark">
    <tr>
        <th>ID</th>
        <th>Image</th>
        <th>Name</th>
        <th>Price</th>
        <th>Quantity</th>
        <th>Action</th>


    </tr>
  </thead>
  <tbody>
   {% for pro in pr %}
    <tr>
        <td>{{ pro.id }}</td>
        <td><img src="{{ pro.image.url }}" class="img-responsive" style="width: 100px;height100px; float: left; margin-right: 10px;" /></td>
        <td>{{ pro.name }}</td>
        <td>{{ pro.price }}</td>
        <td>{{ pro.quantity }}</td>
        <td><form action="{% url 'cart' pro.id %}" method="post" class="d-inline">
           {% csrf_token %}
            <input type="submit" class="btn btn-primary" value="Add To Cart" >
        </form>
        </td>


    </tr>
  {% endfor %}
  </tbody>
</table>
     </div>

</div>
</div>
{% endblock content %}